@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  /* Colors */
  --blue-sparkle: #0079ff;
  --abi-blue: #60abff;
  --searching-blue: #697c9a;
  --san-marino: #4b6a9b;
  --anchors-aweigh: #2b3442;
  --ghost-white: #f6f8ff;
  --white: #ffffff;
  --white-as-heaven: #fefefe;
  --hei-se-black: #141d2f;
  --fainting-light: #1e2a47;
  --tart-orange: #f74646;

  --color-canvas: var(--ghost-white);
  --color-surface: var(--white-as-heaven);
  --color-primary: var(--blue-sparkle);
  --color-error: var(--tart-orange);
  --color-text: var(--san-marino);
  --color-text-secondary: var(--anchors-aweigh);

  --color-primary-active: var(--abi-blue);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  font-family: "Space Mono", monospace;
  background-color: var(--color-canvas);
  color: var(--color-text);
}

.App.dark {
  --color-canvas: var(--hei-se-black);
  --color-surface: var(--fainting-light);
  --color-text: var(--white);
  --color-text-secondary: var(--white);
}
