@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  /* Colors */
  --blue-sparkle: #0079ff;
  --abi-blue: #60abff;
  --searching-blue: #697c9a;
  --san-marino: #4b6a9b;
  --anchors-aweigh: #2b3442;
  --ghost-white: #f6f8ff;
  --white: #ffffff;
  --white-as-heaven: #fefefe;
  --hei-se-black: #141d2f;
  --fainting-light: #1e2a47;
  --tart-orange: #f74646;

  --color-primary: var(--blue-sparkle);
  --color-primary-active: var(--abi-blue);
  --color-error: var(--tart-orange);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.light {
  --color-canvas: var(--ghost-white);
  --color-surface: var(--white-as-heaven);
  --color-text: var(--san-marino);
  --color-text-secondary: var(--anchors-aweigh);
  --color-theme-toggle-active: var(--hei-se-black);
}

body.dark {
  --color-canvas: var(--hei-se-black);
  --color-surface: var(--fainting-light);
  --color-text: var(--white);
  --color-text-secondary: var(--white);
  --color-theme-toggle-active: var(--san-marino);
}

button,
input {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  border: none;
  background: none;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
  word-wrap: anywhere;
}

a:hover {
  text-decoration: underline;
}

.App {
  display: grid;
  grid-template-columns: min(calc(100% - 48px), 573px);
  justify-content: center;
  padding-block: 32px;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "Space Mono", monospace;
  font-size: 13px;
  background-color: var(--color-canvas);
  color: var(--color-text);
}

.App::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (min-width: 768px) {
  .App {
    padding-block: 140px;
  }
}

@media screen and (min-width: 1110px) {
  .App {
    grid-template-columns: min(100%, 730px);
    padding-block: 144px;
  }
}

/* Common */

.card {
  border-radius: 15px;
  background-color: var(--color-surface);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.dark .card {
  box-shadow: none;
}

.muted {
  opacity: 0.5;
}

/* Components */

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: var(--color-text-secondary);
}

.theme-toggle {
  color: var(--color-text);
  text-transform: uppercase;
  transition: color 120ms ease;
}

.theme-toggle:active,
.theme-toggle:focus,
.theme-toggle:hover {
  color: var(--color-theme-toggle-active);
}

.theme-toggle svg path {
  transition: fill 120ms ease;
}

.theme-toggle:active svg path,
.theme-toggle:focus svg path,
.theme-toggle:hover svg path {
  fill: var(--color-theme-toggle-active);
}

/* Search */

@keyframes shoot {
  from {
    left: -200px;
  }
  to {
    left: 100%;
  }
}

.search {
  position: relative;
  margin-top: 36px;
}

.search__bar {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 7px;
  padding: 7px;
  overflow: hidden;
}

.search.loading .search__bar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 200px;
  height: 3px;
  background: rgb(0, 121, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 121, 255, 0) 0%,
    rgba(0, 121, 255, 1) 50%,
    rgba(0, 121, 255, 0) 100%
  );
  animation: shoot 1.2s ease-in infinite;
}

.search__icon {
  display: block;
  min-width: 25px;
  margin-left: 9px;
}

.search__input {
  flex: 1;
  min-width: 0px;
  align-self: stretch;
  background: none;
  border: none;
  outline: none;
  caret-color: var(--color-primary);
}

.search__input::placeholder {
  opacity: 1;
  color: inherit;
}

.search__error {
  position: absolute;
  bottom: calc(100% + 7px);
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  color: var(--color-error);
} 

.button {
  min-width: 84px;
  padding: 12px 16px;
  border-radius: 10px;
  background-color: var(--color-primary);
  color: var(--white);
  font-size: 14px;
  transition: background-color 120ms ease;
}

.button:active,
.button:focus,
.button:hover {
  background-color: var(--color-primary-active);
}

@media screen and (min-width: 768px) {
  .search__bar {
    column-gap: 24px;
    padding: 10px;
  }
  .search__icon {
    margin-left: 24px;
  }
  .search__input {
    font-size: 18px;
  }
  .button {
    min-width: 106px;
    padding-inline: 24px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1110px) {
  .search__error {
    position: absolute;
    top: 50%;
    bottom: unset;
    left: unset;
    right: 148px;
    transform: translateY(-50%);
    font-size: 15px;
  } 
}

/* Detail */

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.detail {
  display: grid;
  grid-template-columns: 70px 1fr;
  column-gap: 20px;
  row-gap: 32px;
  margin-top: 16px;
  padding: 32px 24px 48px;
  animation: slideUp 500ms cubic-bezier(0, 0, 0.01, 1.02);
}

.detail > * {
  grid-column: 1 / -1;
}

.detail__avatar {
  border-radius: 50%;
  grid-column: 1;
}

.detail__header {
  grid-column: 2;
}

.detail__name {
  font-size: 16px;
  color: var(--color-text-secondary);
}

.detail__login {
  margin-bottom: 6px;
  color: var(--color-primary);
}

.detail__stats {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding: 18px;
  background-color: var(--color-canvas);
  text-align: center;
  box-shadow: none;
}

.detail__stat-heading {
  margin-bottom: 8px;
  font-size: 11px;
}

.detail__stat-text {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text-secondary);
}

.detail__footer {
  display: grid;
  row-gap: 16px;
}

.detail__footer > * {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

@media screen and (min-width: 768px) {
  .detail {
    grid-template-columns: 117px 1fr;
    column-gap: 41px;
    margin-top: 24px;
    padding: 40px;
  }
  .detail__avatar {
    width: 117px;
    height: 117px;
  }
  .detail__name {
    font-size: 26px;
  }
  .detail__stats {
    margin-top: 32px;
    padding-inline: 32px;
    text-align: start;
  }
  .detail__stat-heading {
    margin-bottom: 0;
    font-size: 13px;
  }
  .detail__stat-text {
    font-size: 22px;
  }
  .detail__footer {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1110px) {
  .detail {
    column-gap: 37px;
    padding: 48px;
  }
  .detail > * {
    grid-column: 2;
  }
  .detail__avatar {
    grid-column: 1;
  }
  .detail__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
  }
  .detail__login {
    width: 100%;
    order: 3;
  }
  .detail__body {
    margin-top: -70px;
  }
}

.text-w-icon {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.text-w-icon svg {
  min-width: 20px;
}

.text-w-icon svg path {
  fill: var(--color-text);
}
